{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<p>
    Receipt reader is a tool to scan your receipts and find important information, such as the total amount, issuer and time of the purchase.
    The relevant data from the receipt is stored in a database, together with an image of the receipt. With receipt reader you can export that data to a pre-formated spreadsheet file.<br>
    <h5>How-to</h5>
    Documentation in development.
    <br>
    Developed by Luís Cabral for the final project of CS50 2020.
</p>
{% endblock %}  