{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
<img src="{{ image }}" alt="Uploaded receipt"> <br> <br> <br>
<table class="table-editable table-striped table-hover" id="edit-table" width="100%">
    <thead>
        <tr>
            <td></td>
            <td style="font-weight: bold;">Edit here</td>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Header</td>
                <td contenteditable="true">{{ header }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td contenteditable="true">{{ name }}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td contenteditable="true">{{ total }}</td>
            </tr>
            <tr>
                <td>Date created</td>
                <td>{{ date_now }}</td>
            </tr>
            <tr>
                <td>Date purchase</td>
                <td contenteditable="true">{{ datetime }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td contenteditable="true">{{ category }}</td>
            </tr>
            <tr>
                <td>Language</td>
                <td contenteditable="true">{{ language }}</td>
            </tr>
    </tbody>
</table>
<!-- <p>
    Header: {{ header }} <br>
    Name: {{ name }} <br>
</p>
<p>
    Date created: {{ date_now }} <br>
    Date purchase: {{ datetime }} <br>
    Category: {{ category }} <br>
    Language: {{ language }} <br>
</p>
<p>
    Total: {{ total }}
</p> -->
<form action="/edit" method="POST">
<div class="form-group">
    <button class="btn btn-success" type="submit" name="action" value="submit" id="submit">Submit</button>
</div>
</form>
{% endblock %}  